body{
font-family:system-ui;
background:#f7f9f9;
margin:0;
}

.container{
width:90%;
max-width:400px;
margin:40px auto;
padding:30px;
background:white;
border-radius:10px;
}

.grid{
display:flex;
flex-direction:column;
gap:15px;
}

h3{
margin-top:25px;
}

label{
font-size:14px;
}

input{
width:100%;
max-width:100%;
box-sizing:border-box;
padding:10px;
border-radius:6px;
}

.buttons{
display:flex;
flex-direction:column;
gap:10px;
margin-top:20px;
}

button{
background:#1d9bf0;
color:white;
border:none;
padding:10px;
border-radius:20px;
cursor:pointer;
}

#queryBox{
padding:15px;
background:#f0f0f0;
border-radius:5px;
margin-top:10px;
word-break:break-all;
}

.checkboxRow{
display:flex;
gap:25px;
margin-top:10px;
flex-wrap:wrap;
}

.checkboxItem{
display:flex;
flex-direction:column;
align-items:center;
font-size:13px;
}

.checkboxItem input{
margin-bottom:5px;
}

#history a{
color:#1d9bf0;
text-decoration:none;
}

.deleteBtn{
margin-left:10px;
background:#ff4d4d;
border:none;
color:white;
padding:3px 8px;
border-radius:5px;
cursor:pointer;
font-size:12px;
}

.topBar{
display:flex;
justify-content:flex-end;
margin-bottom:10px;
}

#darkToggle{
width:40px;
height:40px;
border-radius:50%;
font-size:18px;
background:#1d9bf0;
color:white;
border:none;
cursor:pointer;
}

.dark{
background:#121212;
color:white;
}

.dark .container{
background:#1e1e1e;
}

.dark input{
background:#333;
color:white;
border:1px solid #555;
}

.dark #queryBox{
background:#333;
}

.dark #history a{
color:white;
}
